{% extends "wouldyou/base.html" %}

{% load game_extra %}

{% block body_class %}game{% endblock %}

{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="game-title">{{ set.name }}</h2>
      </div>
    </div>

    <div class="row game-area" data-set="{{ set.pk }}" data-model="{{ set.view_prefix }}" data-url="{% url 'app:api.action' %}">
      {% for subject in set.subjects.all %}
        <div class="col-md-4 game-choice">
          <h3>{{ subject.name }}</h3>

          <div class="game-card game-card-unselected" data-subject="{{ subject.pk }}">
            <img src="{{ subject.portrait }}" alt="">

            <ul class="game-action list-unstyled">
              {% for verb in verbs %}
                <li>
                  <button class="btn verb-button {{ verb }}-verb-button" data-verb="{{ verb.pk }}">
                    {{ verb|title }}
                  </button>
                </li>
              {% endfor %}
            </ul>

            <div class="game-result hidden">
              {% for verb in verbs %}
                <div>{{ verb }}: {% get_count subject verb %}</div>
              {% endfor %}
              <div>Total: {% get_total subject %}</div>
            </div>
          </div>
        </div>
      {% endfor %}

      <div class="col-xl-12 pull-right">
        <a href="{{ set.get_next_url }}?prev={{ set.pk }}" class="btn btn-primary btn-lg">Next!</a>
      </div>
    </div>
  </div>
{% endblock %}