{% extends "wouldyou/base.html" %}

{% load static %}

{% block body_class %}index{% endblock %}

{% block styles %}
<link href="https://fonts.googleapis.com/css?family=Just+Another+Hand" rel="stylesheet">
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
<div class="index-header">
  <div class="header-content wrapper-container">
    <p class="tagline">
      Between
      <span class="index-spinner">
        <span>your three best friends</span>
        <!--<span>Denzel Washington</span>,
        <span>Morgan Freeman</span> and
        <span>Samuel L. Jackson</span>--></span>, who...
    </p>
    <h1 class="logo-font">
      Would You
      <span class="logo-blank">
        <span class="logo-words">
          <span class="logo-kiss">Kiss</span><br>
          <span class="logo-marry">Marry</span><br>
          <span class="logo-kill">Kill</span>
        </span>
      </span>?
    </h1>
  </div>

  <div class="index-bg">
    <div class="kiss-background bg-col" data-verb="kiss">
      <img src="{% static 'wouldyou/img/background_kiss.jpg' %}" alt="">
    </div>
    <div class="marry-background bg-col" data-verb="marry">
      <img src="{% static 'wouldyou/img/background_marry.jpg' %}" alt="">
    </div>
    <div class="kill-background bg-col" data-verb="kill">
      <img src="{% static 'wouldyou/img/background_kill.jpg' %}" alt="">
    </div>
  </div> {# /.index-bg #}
</div> {# /.index-header #}

<div class="wrapper-container">
  <div class="call-to-action">
    <a class="btn facebook-btn btn-lg" href="{% url 'social:begin' 'facebook' %}">
      <i class="fa fa-facebook-official fa-3x bounce" aria-hidden="true"></i>
      Login to play!</a>
    <a class="btn rule-btn btn-lg" href="{% url 'app:static.how-to-play' %}">
      <i class="fa fa-question fa-3x" aria-hidden="true"></i>
      How to play?</a>
  </div> {# /.call-to-action #}

  <div class="secondary-links">
  </div>
</div>
{% endblock %}