{% extends "wouldyou/base.html" %}

{% load static %}

{% block body_class %}index{% endblock %}

{% block content %}
<div class="index-header">
  <div class="header-content">


    <div class="call-to-action">
      <a class="btn facebook-btn btn-lg" href="{% url 'social:begin' 'facebook' %}">
        <i class="fa fa-facebook-official fa-3x bounce"></i>Login to play!</a>
      <a class="btn rule-btn btn-lg">
        <i class="fa fa-question fa-3x"></i>
        How to play?</a>
    </div> {# /.call-to-action #}
  </div>

  <div class="index-bg">
    <div class="kiss-background bg-col">
      <img src="{% static 'wouldyou/img/background_kiss.jpg' %}" alt="">
    </div>
    <div class="marry-background bg-col">
      <img src="{% static 'wouldyou/img/background_marry.jpg' %}" alt="">
    </div>
    <div class="kill-background bg-col">
      <img src="{% static 'wouldyou/img/background_kill.jpg' %}" alt="">
    </div>
  </div> {# /.index-bg #}
</div> {# /.index-header #}
{% endblock %}