{% extends 'wouldyou/base.html' %}

{% block body_class %}onboard{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <header class="col-sm-12">
      <h1>Would you like to play with...</h1>
    </header> {# /header.col-sm-12 #}

    <div class="col-md-6 friends">
      <h2>Friends</h2>
      {# TODO: Show start game button if friends are already available #}
      {% if friends %}
      <h3>Play with friends</h3>
      <div>
        {% for friend in friends %}
        <img src="{{ friend.picture.data.url }}" alt="{{ friend.name }}">
        {% endfor %}
      </div>
      {% endif %}

      <h3>Invite More Friends</h3>
      <div class="friend-selector">
        {% for friend in invitable %}
        <label>
          <input type="checkbox" name="invite" value="{{ friend.id }}">
          <div>
            <img src="{{ friend.picture.data.url }}" alt=""> {{ friend.name }}
          </div>
        </label>
        {% endfor %}
      </div>
      <button class="btn btn-primary">Invite</button>
    </div> {# /.friends.col-md-6 #}

    <div class="col-md-6 celebrities">
      <h2>Celebrities</h2>
      <div class="">

      </div>
    </div> {# /.celebrities.col-md-6 #}
  </div>
</div>
{% endblock %}