{% extends 'wouldyou/pages/static/base.html' %}

{% load static %}

{% block title %}How to Play?{% endblock %}

{% block page %}

    <h1>Meet your beloved celebrities!</h1>
    <img src="{% static 'wouldyou/img/how-app-works/celebrity_0.png' %}"/>

    <h1>Who would you KISS?</h1>
    <img src="{% static 'wouldyou/img/how-app-works/celebrity_1.png' %}"/>

    <br/><br/>

    <h3>Among 3 celebrities, choose who you would MARRY/KISS/KILL </h3>

    <p>In Would You __? we will provide multiple sets of 3-celebrity for you to play.
        For each celebrity, you can choose either you would kill/kiss/marry the celebrity.</p>

    <h3>Play to see how others would do</h3>

    <p>
    When you complete all 3 choices, the static of what other choices will be shown. You can post the result on your Facebook,
    or click Next button to continue playing.
    </p>

    <h1>Crushing your friends! Go and KISS them</h1>

    <p>Playing with friends to do some actions with them.</p>
    <img src="{% static 'wouldyou/img/how-app-works/friend_0.png' %}"/>

    <h3>Playing with friends</h3>
    <p>We will randomly select your 3 friends to make a game, and same as "play with celebrities", you can choose 3 actions
    kiss/kill/marry with your 3 friends and see whether they would do the same thing as you did with them.</p>

    <h3> Your crush wants to kiss you!</h3>

    <p>Imagine how cool it is if you would kiss/marry who you love or know someone who would kiss/marry you.</p>



    <h1>Got a match!!!! Both of you wanted to kiss each other.</h1>
    <p>How cool it is to find someone that would do the same action to you as you did to them????</p>


    <h1>Want to get more fun!</h1>

    <p>More friends to get more fun.</p>
    <img src="{% static 'wouldyou/img/how-app-works/invite_friends.png' %}"/>

    <h3> Why not invite your crush to join</h3>

    <p>Do you want to know how your crush thinks about you? Invite his/her to play with you.</p>

    <h3> Or invite more friends</h3>

    <p>To make the game more interesting and can play with many friends, you should invite your friends to join
        and play with you.</p>


{% endblock %}