<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Would You __?{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="csrf_token" content="{{ csrf_token }}">

  {% if debug %}
    <link href="{% static "wouldyou/css/app.css" %}" rel="stylesheet">
  {% else %}
    <link href="{% static "wouldyou/css/app.min.css" %}" rel="stylesheet">
  {% endif %}

  <link href="{% static 'favicon.png' %}" rel="icon">

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

  {% block styles %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">

{% include 'wouldyou/components/fb.html' %}

{% block header %}
  {% include 'wouldyou/layout/header.html' %}
{% endblock %}

{% block main %}
<main>
  {% block content %}{% endblock %}
</main>
{% endblock %}

{% block footer %}{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
{% if debug %}
<script src="{% static "wouldyou/js/app.js" %}"></script>
{% else %}
<script src="{% static "wouldyou/js/app.min.js" %}"></script>
{% endif %}

{% block scripts %}{% endblock %}

{% if not debug %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-83007921-1', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}

</body>
</html>