<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="{% static "wouldyou/css/app.css" %}" rel="stylesheet">
  {% block styles %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% include 'wouldyou/components/fb.html' %}
{% block header %}
<header class="global">
  <h1><a href="{% url 'app:index' %}">Would You ____?</a></h1>

  {% if request.user.is_authenticated %}
  <div class="profile">
    <img class="profile-image" src="{{ player.picture }}" alt="">
    <div class="profile-detail">
      <p>{{ player.name }}</p>
      <p class="text-muted">Not {{ player.name }}? <a href="{% url 'logout' %}">Logout</a></p>
    </div>
  </div>
  {% endif %}
</header>
{% endblock %}

{% block main %}
<main>
  {% block content %}{% endblock %}
</main>
{% endblock %}

{% block footer %}
<footer class="global">

</footer>
{% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="{% static "wouldyou/js/app.js" %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>