body.game {
  .game-choice {
    text-align: center;

    .game-card {
      position: relative;
      width: 200px;
      margin: 0 auto;
      overflow: hidden;

      &:hover {
        .game-action {
          top: 0;
        }
      }

      img {
        width: 100%;
        display: block;
      }
    }

    .game-action {
      position: absolute;
      top: 100%;
      width: 100%;
      height: 100%;
      background: rgba(#000, .4);

      display: flex;
      flex-direction: column;
      justify-content: space-around;

      padding: 20px 0;
      transition: .15s top;

      li {
        margin: 0;
      }
    }

    .verb-button {
      height: 40px;
      width: 160px;
      border: 0;
      color: white;

      filter: brightness(70%);
      -webkit-filter: brightness(70%);
    }

    .verb-button:hover {
      filter: brightness(100%);
      -webkit-filter: brightness(100%);
    }

    .kiss-verb-button {
      background-color: $kiss-colour;
    }

    .merry-verb-button {
      background-color: $marry-colour;
    }

    .kill-verb-button {
      background-color: $kill-colour;
    }
  }
}