body.game {
  .game-choice {
    text-align: center;

    .game-card {
      position: relative;

      img {
        width: 200px;
      }

      .game-action {
        margin-top: 10px;
        position: absolute;
        top: 0px;
        text-align: middle;
      }
    }

    label {
      cursor: pointer;

      padding: 5px;
      display: block;
      width: 200px;
      margin: 0 auto;

      &:hover {
        background: rgba($brand-primary, .2);
      }

      input {
        vertical-align: middle;
      }
    }
  }
}