body.index {
  .index-header {
    position: relative;
  }

  .header-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .call-to-action {
    text-align: center;
    width: 100%;
    margin-top: 20px;

    > .btn {
      margin: 0 20px;
      padding: 12px 30px 8px 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1;

      i {
        vertical-align: -.25em;
        margin: -10px 18px -6px 0;
      }
    }

    .facebook-btn {
      box-shadow: inset 0 -4px rgba(#000, .15);
    }

    .rule-btn {
      color: rgba(#fff, .8);
      border: 1px solid;

      &:hover {
        color: #fff;
      }
    }
  }

  .index-bg {
    display: flex;
  }

  .bg-col {
    padding: 0;
    overflow: hidden;
    width: 33.3333%;

    img {
      min-width: 100%;
      height: 80vh;
      object-fit: cover;
    }
  }

  @media screen and (max-width: $screen-md) {
    .bg-col img {
      max-height: 100vw;
    }
  }
}