body.index {
  .index-header {
    position: relative;
    margin-top: 20px;
  }

  .header-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;


    p.tagline {
      color: #000;
      font-size: 45px;
      font-family: Georgia, serif;
      font-style: italic;

      margin: 30px 0 0;

      .index-spinner {
        position: relative;
        display: inline-block;
        padding: 0 8px;
        border-bottom: 2px solid #fff;
      }

      span span {
        font-style: normal;
        color: #fff;
        text-shadow: 0 2px 0 #000;
      }
    }

    h1 {
      font-size: 26vw;
      color: #fff;
      margin: 40px 0 0 0;
      line-height: 1;

      .logo-blank {
        width: 40vw;
        display: inline-block;
        position: relative;
        overflow: hidden;
        border-bottom: 6px solid;

        > span {
          position: absolute;
          top: 100%;
        }
      }

      @media (min-width: $screen-lg-min) {
        font-size: 26vh;

        .logo-blank {
          width: .40 * $screen-lg;
        }
      }
    }
  }

  .call-to-action {
    text-align: center;
    width: 100%;
    margin-top: 24px;

    > .btn {
      margin: 0 20px;
      padding: 12px 30px 8px 24px;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1;

      i {
        vertical-align: -.25em;
        margin: -10px 14px -6px 0;
      }
    }

    .facebook-btn {
      box-shadow: inset 0 -4px rgba(#000, .15);
    }

    .rule-btn {
      color: rgba(#fff, .8);
      border: 1px solid;

      &:hover {
        color: #fff;
      }
    }
  }

  .secondary-links {
    text-align: center;
    margin-top: 40px;

    a {
      color: rgba(#fff, .7);
      font-weight: bold;
      font-size: 15px;
    }
  }

  .index-bg {
    display: flex;
  }

  .bg-col {
    padding: 0;
    overflow: hidden;
    width: 33.3333%;

    img {
      min-width: 100%;
      height: 70vh;
      object-fit: cover;
    }
  }

  @media screen and (max-width: $screen-md) {
    .bg-col img {
      max-height: 100vw;
    }
  }
}