.container-fluid, .bg-container {
  max-width: $screen-lg;
}

.wrapper-container {
  max-width: $screen-lg + $grid-gutter-width;
}

.wrapper-container, .bg-container {
  margin: 0 auto;
  padding: 0 $grid-gutter-width / 2;
}

.bg-container {
  background: $background-gray;
  flex: 1 auto;
  width: 100%;
  box-shadow: 0 14px 30px rgba(#000, .3);
  padding-bottom: 24px;

  @include clearfix;
}

.btn, a {
  transition: .2s all;
}

.logo-font {
  text-transform: uppercase;
  font-family: CheapSign, Arial, sans-serif;
}