header.global {
  color: white;
  background-color: $navbar-color;

  > .wrapper-container {
    display: flex;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  h1 {
    margin: 0;
    font-size: 40px;
    line-height: 1;

    flex: 0 0 auto;

    a {
      display: block;
      padding: 4px 0 0;
      margin-bottom: -5px;
      color: white;

      &:hover {
        text-decoration: none;
      }

      span.logo-blank {
        display: inline-block;
        width: 100px;
        border-bottom: 2px solid;
        position: relative;
        overflow: hidden;

        span {
          position: absolute;
          top: 0;
        }
      }
    }
  }

  .facebook-btn {
    font-size: 16px;

    i {
      margin: 0 .2em 0 0;
    }
  }

  .profile {
    flex: 0 0 auto;
    display: flex;

    p {
      margin: 0;
      line-height: 1.4;

      a {
        color: rgba(#fff, .6);
        text-decoration: underline;

        &:hover {
          color: rgba(#fff, 1);
        }
      }
    }

    .player-name {
      font-weight: bold;
      font-size: 15px;
    }

    .profile-image {
      display: block;
      margin-right: 8px;
      width: 40px;
      height: 40px;
    }
  }

  @media (max-width: $screen-sm-max) {
    width: 100%;

    > .wrapper-container {
      display: block;
      overflow: hidden;
    }

    h1 {
      font-size: 50px;
    }

    .profile {
      $profile-image-size: 65px;

      position: absolute;
      top: 0;
      right: 0;
      background: $navbar-color;

      transform: translateX(calc(100% - #{$profile-image-size}));
      transition: transform .3s;

      .profile-image {
        height: $profile-image-size;
        width: $profile-image-size;
      }

      &:hover {
        transform: translateX(-10px);
      }
    }

    .profile-detail {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}