<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load url_extra %}
<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# {{ settings.SOCIAL_AUTH_FACEBOOK_NAMESPACE }}: http://ogp.me/ns/fb/{{ settings.SOCIAL_AUTH_FACEBOOK_NAMESPACE }}#">
  <meta charset="UTF-8">
  <title></title>
  {% block meta %}{% endblock %}
  <meta property="fb:app_id" content="{{ settings.SOCIAL_AUTH_FACEBOOK_KEY }}">
  <meta property="og:site_name" content="Would You____?">
  <meta property="og:url" content="{{ url }}">
</head>
<body></body>
</html>