{% extends 'wouldyou/meta/base.html' %}

{% load url_extra %}

{% block meta %}
  <meta property="og:title" content="{{ subjects.0 }}, {{ subjects.1 }} and {{ subjects.2 }} - Who would YOU kiss, marry or kill?">
  <meta property="og:description" content="Kiss your celebrity or (maybe) your crush on Would You_? Play a game of Kiss Marry Kill with your friends, Scarlett Johansson, or even Chewbacca!">
  <meta property="og:image" content="{% static_absolute 'wouldyou/img/share_img.png' %}">
{% endblock %}