{% extends 'wouldyou/meta/base.html' %}

{% load url_extra %}

{% block meta %}
  <meta property="og:type" content="{{ settings.SOCIAL_AUTH_FACEBOOK_NAMESPACE }}:celebrity">
  <meta property="og:title" content="{{ profile.name }}">
  <meta property="og:image" content="{% url_absolute profile.portrait %}">
  <meta property="og:description" content="Kiss your celebrity or (maybe) your crush on Would You_? Play a game of Kiss Marry Kill with your friends, Scarlett Johansson, or even Chewbacca!">
{% endblock %}