.alert-container {
  margin: -24px -80px 20px -80px;
  font-size: 16px;

  .alert {
    border-radius: 0;
    border: 0;
    display: flex;
    margin-bottom: 0;
    padding: 12px 20px;

    i.fa {
      margin-right: 12px;
    }

    p {
      flex: 1 auto;
    }
  }
}
