@font-face {
  font-family: 'CheapSign';
  src: url('../fonts/CheapSign.eot?#iefix') format('embedded-opentype'),
       url('../fonts/CheapSign.woff') format('woff'),
       url('../fonts/CheapSign.ttf')  format('truetype'),
       url('../fonts/CheapSign.svg#CheapSign') format('svg');
  font-weight: normal;
  font-style: normal;
}
