$screen-lg: 960px;
$screen-md: 840px;
$screen-sm: 540px;
$screen-xs: 320px;

$border-radius-base: 0;
$border-radius-small: 0;
$border-radius-large: 0;

$navigation-bar-brown: #321d2f;
$background-gray: #e0e0e0;
$highlight-purple: #572c4f;

$kiss-colour: #cd244d;
$marry-colour: #9f4db5;
$kill-colour: #59a8c5;
