$font-family-serif: Georgia, serif;
$font-family-sans-serif: 'Lato', sans-serif;

$screen-lg: 960px;
$screen-md: 740px;
$screen-sm: 540px;
$screen-xs: 320px;

$border-radius-base: 3px;
$border-radius-small: 2px;
$border-radius-large: 3px;

$background-gray: #ffffff;
$highlight-purple: #572c4f;
$navbar-color: #321d2f;

$body-bg: $highlight-purple;
$brand-primary: $highlight-purple;

$facebook-color: #3f57a6;

$kiss-colour: #cd244d;
$marry-colour: #9f4db5;
$kill-colour: #59a8c5;

$alert-info-bg: #4c84d8;
$alert-info-text: tint($alert-info-bg, 80);

$alert-danger-bg: #b71c1c;
$alert-danger-text: tint($alert-danger-bg, 80);

$close-color: #fff;
$close-text-shadow: none;