$font-family-serif: Georgia, serif;
$font-family-sans-serif: 'Lato', sans-serif;

$screen-lg: 960px;
$screen-md: 840px;
$screen-sm: 540px;
$screen-xs: 320px;

$border-radius-base: 3px;
$border-radius-small: 2px;
$border-radius-large: 3px;

$background-gray: #ffffff;
$highlight-purple: #572c4f;
$navbar-color: #321d2f;

$body-bg: $highlight-purple;
$brand-primary: $highlight-purple;

$facebook-color: #3f57a6;

$kiss-colour: #cd244d;
$marry-colour: #9f4db5;
$kill-colour: #59a8c5;
