{% extends "wouldyou/base.html" %}

{% load game_extra %}

{% block body_class %}game{% endblock %}

{% block content %}
  <div class="wrapper-container game-switcher">
    <div class="btn-group btn-group-lg">
      <a href="" class="btn btn-default">Friends</a>
      <a href="" class="btn btn-default">Celebrities</a>
    </div>
  </div>

  <div class="bg-container">
    <div class="game-area" data-set="{{ set.pk }}"
         data-model="{{ set.view_prefix }}"
         data-url="{% url 'app:api.action' %}">

      <h2>{{ set.name }}</h2>

      <div class="game-choices">
      {% for subject in set.subjects.all %}
        <div class="game-choice">
          <h3>{{ subject.name }}</h3>

          <div class="game-card card-unselected"
               data-subject="{{ subject.pk }}">
            <img src="{{ subject.portrait }}" alt="">

            <div class="card-overlay">
              <div class="game-action">
                {% for verb in verbs %}
                  <button class="btn verb-btn {{ verb }}-btn"
                          data-verb="{{ verb.pk }}">
                    {{ verb|title }}
                  </button>
                {% endfor %}
              </div>

              <div class="game-result hidden">
                {% block result %}{% endblock %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>

      <div class="col-xl-12 pull-right">
        <a href="{{ set.get_next_url }}?prev={{ set.pk }}" class="btn btn-primary btn-lg">Next!</a>
      </div>
    </div>
  </div>
{% endblock %}