{% extends "wouldyou/game/base.html" %}

{% load static %}

{% block game_area %}
<form method="post" action="{{ set.get_next_url }}">
  {% csrf_token %}
  <input type="hidden" name="set_id" value="{{ set.pk }}">

  <div class="game-area" data-set="{{ set.pk }}"
       data-model="{{ set.view_prefix }}"
       data-url="{% url 'app:api.action' %}">

    <h2>{{ set.name }}</h2>

    <div class="game-choices">
    {% for subject in set.subjects.all %}
      <div class="game-choice">
        <h4>{{ subject.name }}</h4>

        <div class="game-card card-unselected"
             data-subject="{{ subject.pk }}">
          <img src="{{ subject.portrait }}" alt="">

          <div class="card-overlay">
            <div class="game-action">
              {% for verb in verbs %}
                <button class="btn verb-btn {{ verb }}-btn"
                        data-verb="{{ verb.pk }}">
                  {{ verb|title }}
                </button>
                <input type="radio" name="{{ verb }}" value="{{ subject.pk }}"
                       class="hidden">
              {% endfor %}
            </div>

            <div class="overlay-image">
              {% for verb in verbs %}
                <div class="overlay-{{ verb }}" data-verb="{{ verb.pk }}">
                  {% with 'wouldyou/img/'|add:verb.verb|add:'.png' as src %}
                    <img src="{% static src %}" alt="">
                  {% endwith %}
                </div>
              {% endfor %}
            </div>

            <div class="game-result">
              {% block result %}{% endblock %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>

    <button type="button" class="btn btn-danger btn-lg undo-btn">
      <i class="fa fa-undo"></i> Undo</button>

    <div class="pull-right game-btn">
      <a class="btn btn-warning btn-sm skip-btn"
         href="{{ set.get_next_url }}?prev={{ set.pk }}">
        Skip <i class="fa fa-forward"></i></a>
      <button type="submit" class="btn btn-primary btn-sm next-btn hidden">
        Next! <i class="fa fa-chevron-right"></i></button>
    </div>
  </div>
</form>
{% endblock %}
