{% extends 'wouldyou/game/base.html' %}

{% load static %}

{% block game_area %}
<div class="game-area invite-area">
  <h3> Uh oh, you don't seem to have enough friends to play... </h3>
	<img src="{% static "wouldyou/img/no_friend_icon.png" %}" alt="">

	<p>
    <button type="button"
            data-url="{% url 'app:api.invite' %}"
            {# TODO: Add a proper message #}
            data-message="Hello world"
            class="btn btn-primary invite-btn btn-lg">
      <i class="fa fa-facebook-official fa-lg"></i>
      Invite more Friends!</button>
  </p>
	<p class="invite-or">or</p>
	<p><a class="btn btn-link" href="{% url 'app:profile.next' %}">
    Continue playing with celebrities</a></p>
</div>
{% endblock %}

{% block footer %}
  {% include 'wouldyou/components/block_ui.html' %}
{% endblock %}