{% extends 'wouldyou/base.html' %}

{% load loop_extra %}

{% block body_class %}onboard{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <header class="col-sm-12">
      <h1>Would you like to play with...</h1>
    </header> {# /header.col-sm-12 #}

    <section class="col-sm-6 friends">
      <h2>Friends</h2>
      {# TODO: Show start game button if friends are already available #}
      {% if friends and friends|length >= 3 %}
      <h3>Play with friends</h3>
      <div>
        {% for friend in friends %}
        <img src="{{ friend.image }}" alt="{{ friend.name }}">
        {% endfor %}
      </div>
      {% endif %}

      {# TODO: Add an appropriate invitation message #}
      <div class="friend-invite clearfix" data-request-url="{% url 'app:api.invite' %}" data-message="Hello world!">
        <header>
          <h3>Invite More Friends</h3>
          <button class="btn btn-primary">Invite</button>
        </header>
        <div class="friend-selector">
          {% for friend in invitable %}
          <label>
            <input type="checkbox" name="invite" value="{{ friend.id }}">
            <div>
              <img src="{{ friend.picture.data.url }}" alt=""> {{ friend.name }}
            </div>
          </label>
          {% endfor %}

          {% get_range 10 as loop %}
          {% for i in loop %}
            <div class="empty-label"></div>
          {% endfor %}
        </div>
        <button class="btn btn-primary btn-lg pull-right">Invite</button>
      </div>

    </section> {# /.friends.col-md-6 #}

    <section class="col-sm-6 celebrities">
      <h2>Celebrities</h2>
      <div class="">
        <a href="{% url 'app:profile.next' %}" class="btn btn-primary btn-lg">Play</a>
      </div>
    </section> {# /.celebrities.col-md-6 #}
  </div>
</div>
{% endblock content %}

{% block footer %}
  {% include 'wouldyou/components/block_ui.html' %}
{% endblock %}