{% extends "wouldyou/game/game.html" %}

{% load game_extra %}

{% block alerts %}
  {% if player.sets_nearing_depletion %}
    <div class="alert alert-info">
      <i class="fa fa-2x fa-info-circle"></i>
      <p>Seeing the same friends over and over again?

      <button type="button" class="btn facebook-btn invite-btn"
              data-url="{% url 'app:api.invite' %}"
              {# TODO: Add a proper message #}
              data-message="Hello world" data-no-redirect="1">
          <i class="fa fa-2x fa-facebook-official"></i>
          Invite More Friends
        </button>
        to help liven things up!</p>
    </div>
  {% endif %}
{% endblock %}

{% block result %}
    <div class="game-stories">
      {% for verb in verbs %}
        <div class="game-story hidden" data-verb="{{ verb.pk }}">
          {% matching_friend subject as matched_verb %}
          {% if verb.pk == matched_verb %}
          <p>You found a match! Congrats!</p>
          {% else %}
          <p>{{ verb.random_description }}</p>
          {% endif %}
        </div>
      {% endfor %}
  </div>
{% endblock %}