{% extends "wouldyou/game/game.html" %}

{% load game_extra %}

{% block game_title %}
  {% if set.name %}
    <h2>{{ set.name }}</h2>
  {% endif %}
  {% if set.subtitle %}
    <p class="game-subtitle">{{ set.subtitle }}</p>
  {% endif %}
{% endblock %}

{% block result %}
  <div class="game-stories">
    {% for verb in verbs %}
    <div class="game-story hidden" data-verb="{{ verb.pk }}">
      <p>{{ verb.random_description }}</p>

      <button class="btn facebook-btn story-btn"
              data-action="{{ verb.facebook_action }}"
              data-celebrity="{{ subject.facebook_object_url }}">
        <i class="fa fa-2x fa-facebook-official"></i>
        Share on Facebook
      </button>
    </div>
    {% endfor %}
  </div>

  <div class="bar-chart">
    {% for verb in verbs %}
      <div class="option-percentage">
        <div class="verb-bar {{ verb }}-bar"
             style="height: {% get_percentage subject verb %}%">
          <div class="percent-text"> {% get_percentage subject verb %}%</div>
        </div>
        <div class="text {{ verb }}-verb-text">{{ verb }}</div>
      </div>
    {% endfor %}
  </div>
  <hr>
{% endblock %}

{% block game_card_end %}
  <p class="profile-subtitle">{{ subject.subtitle }}</p>
{% endblock %}

{% block game_action %}
<button class="btn facebook-btn share-btn btn-lg" type="button">
  Share <i class="fa fa-facebook-official"></i>
</button>
{% endblock %}